---
layout: default
title: Engineering Advisor
image: /assets/images/Engeeneering-182x300.png
permalink: /engineering-advisor/
---


<section id="primary" class="pt-4 pt-md-5 content-full-width">
   <div id="post-19838" class="post-19838 page type-page status-publish hentry">
      <div data-delay="0" data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid vc_custom_1573895848779 vc_row-o-equal-height vc_row-o-content-middle vc_row-flex">
         <div class="wpb_column vc_column_container vc_col-sm-12 vc_hidden-md vc_hidden-sm vc_hidden-xs" data-delay="0">
            <div class="vc_column-inner">
               <div class="wpb_wrapper">
                  <div class='pb-3 pb-md-5 dt-sc-title with-right-border-decor  without-bottom-space aligncenter' data-delay='0'>
                     <h2>Engineering Advisor</h2>
                     <p></p>
                  </div>
                  <div id="1570704242199-8f0118e4-031d" class="dt-sc-empty-space"></div>
               </div>
            </div>
         </div>
         <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-5 vc_hidden-md vc_hidden-sm vc_hidden-xs" data-delay="0">
            <div class="vc_column-inner">
               <div class="wpb_wrapper">
                  <div class="wpb_text_column wpb_content_element">
                     <div class="wpb_wrapper">
                        <h2 style="text-align: left;"><span style="color: #f4ba19;">Engineering</span> <span style="color: #201169;">Advisor</span></h2>
                     </div>
                  </div>
                  <div class="wpb_text_column wpb_content_element">
                     <div class="wpb_wrapper">
                        <div class="home-neet-05">
                           <p><img class="wp-image-19900 alignright" src="/assets/images/Engeeneering-182x300.png" alt="{{site.data.keywords.keyword-year}} {{site.data.keywords.keyword-1}}" width="188" height="310" />
                           </p>
                        </div>
                        <div></div>
                        <div></div>
                        <p align="">Engineering Guide has been exclusively designed for students aspiring to get in to Engineering. We are here to answer all your queries regarding engineering specializations, entrance exams and admission procedures for engineering colleges across India and the World too.</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="wpb_column vc_column_container vc_col-sm-1 vc_hidden-md vc_hidden-sm vc_hidden-xs" data-delay="0">
            <div class="vc_column-inner">
               <div class="wpb_wrapper"></div>
            </div>
         </div>
         <div class="wpb_column vc_column_container vc_col-sm-10 vc_col-lg-6 vc_hidden-md vc_hidden-sm vc_hidden-xs" data-delay="0">
            <div class="vc_column-inner">
               <div class="wpb_wrapper">
                  <div class="vc_row wpb_row vc_inner vc_row-fluid dt-sc-circular-icon-set">
                     <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-2 vc_col-md-3">
                        <div class="vc_column-inner">
                           <div class="wpb_wrapper"></div>
                        </div>
                     </div>
                     <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-10 vc_col-md-9">
                        <div class="vc_column-inner">
                           <div class="wpb_wrapper">
                              <div class='dt-sc-icon-box type5 custom-style-2' data-delay='0'>
                                 <div class="icon-wrapper">
                                    <img width="512" height="512" src="/assets/images/team.png" class="attachment-full" alt="{{site.data.keywords.keyword-year}} {{site.data.keywords.keyword-1}}" />
                                 </div>
                                 <div class="icon-content">
                                    <p>
                                    <p style="font-size: 15px;"><b>9,00,000+</b></p>
                                    <p style="font-size: 15px; margin-top: -15px;"><b>Engineering Aspirants !</b></p>
                                    </p>
                                 </div>
                              </div>
                              <div class='dt-sc-icon-box type5 custom-style-2' data-delay='0'>
                                 <div class="icon-wrapper">
                                    <img width="33" height="33" src="/wp-content/uploads/2019/01/icon-box-2.png" class="attachment-full" alt="{{site.data.keywords.keyword-year}} {{site.data.keywords.keyword-1}}" />
                                 </div>
                                 <div class="icon-content">
                                    <p>
                                    <p style="font-size: 15px;"><b>36,000+</b></p>
                                    <p style="font-size: 15px; margin-top: -15px;"><b>Seats Across IITs/NITs/IIITs</b></p>
                                    </p>
                                 </div>
                              </div>
                              <div class='dt-sc-icon-box type5 custom-style-2' data-delay='0'>
                                 <div class="icon-wrapper">
                                    <img width="512" height="512" src="/assets/images/school.png" class="attachment-full" alt="{{site.data.keywords.keyword-year}} {{site.data.keywords.keyword-1}}"/>
                                 </div>
                                 <div class="icon-content">
                                    <p>
                                    <p style="font-size: 15px;"><b>6,300+</b></p>
                                    <p style="font-size: 15px; margin-top: -15px;"><b>Engineering Colleges In India</b></p>
                                    </p>
                                 </div>
                              </div>
                              <div class='dt-sc-icon-box type5 custom-style-2' data-delay='0'>
                                 <div class="icon-wrapper">
                                   <img width="512" height="512" src="/assets/images/test.png" class="attachment-full" alt="{{site.data.keywords.keyword-year}} {{site.data.keywords.keyword-1}}" />
                                 </div>
                                 <div class="icon-content">
                                    <p>
                                    <p style="font-size: 15px;"><b>75+</b></p>
                                    <p style="font-size: 15px; margin-top: -15px;"><b>Pvt. Engineering Entrance Exams</b></p>
                                    </p>
                                 </div>
                              </div>
                              <div class='dt-sc-icon-box type5 custom-style-2 last' data-delay='0'>
                                 <div class="icon-wrapper">
                                    <img width="100" height="100" src="/assets/images/icons8-programming-100.png" class="attachment-full" alt="{{site.data.keywords.keyword-year}} {{site.data.keywords.keyword-1}}" />
                                 </div>
                                 <div class="icon-content">
                                    <p>
                                    <p style="font-size: 15px;"><b>40+</b></p>
                                    <p style="font-size: 15px; margin-top: -15px;"><b>Engineering Specializations</b></p>
                                    </p>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div id="1570087739172-59256d0d-1295" class="dt-sc-empty-space"></div>
               </div>
            </div>
         </div>
      </div>
      <div class="vc_row-full-width vc_clearfix"></div>
      <div data-delay="0" data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid vc_row-o-equal-height vc_row-o-content-middle vc_row-flex">
         <div class="wpb_column vc_column_container vc_col-sm-12 vc_hidden-lg" data-delay="0">
            <div class="vc_column-inner">
               <div class="wpb_wrapper">
                  <div class='dt-sc-title with-right-border-decor  without-bottom-space aligncenter' data-delay='0'>
                     <h2>Engineering Advisor</h2>
                     <p></p>
                  </div>
                  <div id="1576479822377-a50cc490-a93a" class="dt-sc-empty-space"></div>
               </div>
            </div>
         </div>
         <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-5 vc_hidden-lg" data-delay="0">
            <div class="vc_column-inner">
               <div class="wpb_wrapper">
                  <div class="wpb_text_column wpb_content_element">
                     <div class="wpb_wrapper">
                        <div class="home-neet-05">
                           <p><img class="wp-image-19900 aligncenter" src="/assets/images/Engeeneering-182x300.png" alt="{{site.data.keywords.keyword-year}} {{site.data.keywords.keyword-1}}" width="188" height="310" />
                           </p>
                        </div>
                        <div></div>
                        <div></div>
                        <p class="class3" align="justify">Engineering Guide has been exclusively designed for students aspiring to get in to Engineering. We are here to answer all your queries regarding engineering specializations , entrance exams and admission procedures for engineering colleges across India and the World too.</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="wpb_column vc_column_container vc_col-sm-1 vc_hidden-lg" data-delay="0">
            <div class="vc_column-inner">
               <div class="wpb_wrapper"></div>
            </div>
         </div>
         <div class="wpb_column vc_column_container vc_col-sm-10 vc_col-lg-6 vc_hidden-lg" data-delay="0">
            <div class="vc_column-inner">
               <div class="wpb_wrapper">
                  <div class="vc_row wpb_row vc_inner vc_row-fluid dt-sc-circular-icon-set">
                     <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-2 vc_col-md-3">
                        <div class="vc_column-inner">
                           <div class="wpb_wrapper"></div>
                        </div>
                     </div>
                     <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-10 vc_col-md-9">
                        <div class="vc_column-inner">
                           <div class="wpb_wrapper">
                              <div class='dt-sc-icon-box type5 custom-style-2' data-delay='0'>
                                 <div class="icon-wrapper">
                                    <img width="512" height="512" src="/assets/images/team.png" class="attachment-full" alt="{{site.data.keywords.keyword-year}} {{site.data.keywords.keyword-2}}"  />
                                 </div>
                                 <div class="icon-content">
                                    <p>
                                    <p style="font-size: 15px;"><b>9,00,000+</b></p>
                                    <p style="font-size: 15px; margin-top: -15px;"><b>Engineering Aspirants !</b></p>
                                    </p>
                                 </div>
                              </div>
                              <div class='dt-sc-icon-box type5 custom-style-2' data-delay='0'>
                                 <div class="icon-wrapper">
                                    <img width="33" height="33" src="/wp-content/uploads/2019/01/icon-box-2.png" class="attachment-full" alt="{{site.data.keywords.keyword-year}} {{site.data.keywords.keyword-2}}" />
                                 </div>
                                 <div class="icon-content">
                                    <p>
                                    <p style="font-size: 15px;"><b>36,000+</b></p>
                                    <p style="font-size: 15px; margin-top: -15px;"><b>Seats Across IITs/NITs/IIITs</b></p>
                                    </p>
                                 </div>
                              </div>
                              <div class='dt-sc-icon-box type5 custom-style-2' data-delay='0'>
                                 <div class="icon-wrapper">
                                    <img width="512" height="512" src="/assets/images/school.png" class="attachment-full" alt="{{site.data.keywords.keyword-year}} {{site.data.keywords.keyword-2}}" />
                                 </div>
                                 <div class="icon-content">
                                    <p>
                                    <p style="font-size: 15px;"><b>6,300+</b></p>
                                    <p style="font-size: 15px; margin-top: -15px;"><b>Engineering Colleges In India</b></p>
                                    </p>
                                 </div>
                              </div>
                              <div class='dt-sc-icon-box type5 custom-style-2' data-delay='0'>
                                 <div class="icon-wrapper">
                                    <img width="512" height="512" src="/assets/images/test.png" class="attachment-full" alt="{{site.data.keywords.keyword-year}} {{site.data.keywords.keyword-2}}" />
                                 </div>
                                 <div class="icon-content">
                                    <p>
                                    <p style="font-size: 15px;"><b>75+</b></p>
                                    <p style="font-size: 15px; margin-top: -15px;"><b>Pvt. Engineering Entrance Exams</b></p>
                                    </p>
                                 </div>
                              </div>
                              <div class='dt-sc-icon-box type5 custom-style-2 last' data-delay='0'>
                                 <div class="icon-wrapper">
                                   <img width="100" height="100" src="/assets/images/icons8-programming-100.png" class="attachment-full" alt="{{site.data.keywords.keyword-year}} {{site.data.keywords.keyword-2}}" />
                                 </div>
                                 <div class="icon-content">
                                    <p>
                                    <p style="font-size: 15px;"><b>40+</b></p>
                                    <p style="font-size: 15px; margin-top: -15px;"><b>Engineering Specializations</b></p>
                                    </p>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div id="1576479823177-2c7d0141-5b4a" class="dt-sc-empty-space"></div>
               </div>
            </div>
         </div>
      </div>
      <div class="vc_row-full-width vc_clearfix"></div>
      <div data-delay="0" class="vc_row wpb_row vc_row-fluid">
         <div class="wpb_column vc_column_container vc_col-sm-12" data-delay="0">
            <div class="vc_column-inner">
               <div class="wpb_wrapper">
                  <blockquote class='type2  aligncenter' data-delay='0'><q>Get the Right Course!
                     Right College!
                     </q>
                  </blockquote>
                  <div class="vc_empty_space" style="height: 50px"><span class="vc_empty_space_inner"></span></div>
               </div>
            </div>
         </div>
      </div>
      <div data-delay="0" data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid vc_custom_1570699070671">
         <div class="aligncenter wpb_column vc_column_container vc_col-sm-12" data-delay="0">
            <div class="vc_column-inner">
               <div class="wpb_wrapper">
                  <div class='dt-sc-title with-right-border-decor  without-bottom-space aligncenter' data-delay='0'>
                     <h2>Paving a way for a fulfilling future</h2>
                     <p></p>
                  </div>
                  <div class='dt-sc-hr-invisible-large'> </div>
                  <div class='dt-sc-clear'> </div>
               </div>
            </div>
         </div>
      </div>
      <div class="vc_row-full-width vc_clearfix"></div>
      <div data-delay="0" data-vc-full-width="true" data-vc-full-width-init="false" data-vc-stretch-content="true" class="vc_row wpb_row vc_row-fluid vc_column-gap-5 vc_row-o-content-middle vc_row-flex">
         <div class="wpb_column vc_column_container vc_col-sm-3" data-delay="0">
            <div class="vc_column-inner">
               <div class="wpb_wrapper">
                  <div class='dt-sc-icon-box type7 aligncenter' data-delay='0'>
                     <div class="icon-wrapper">
                        <img width="120" height="120" src="/assets/images/icon8.png" class="attachment-full" alt="{{site.data.keywords.keyword-year}} {{site.data.keywords.keyword-2}}" />
                     </div>
                     <div class="icon-content">
                        <h4>
                           </p>
                           <h3>Identifying Right<br />
                              Stream
                           </h3>
                           <p>
                        </h4>
                        <p>Our dedicated counsellors counsel students in choosing the right stream from over 40+ Engineering Specializations through our specialized tool.</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="wpb_column vc_column_container vc_col-sm-3" data-delay="0">
            <div class="vc_column-inner">
               <div class="wpb_wrapper">
                  <div class='dt-sc-icon-box type7 aligncenter' data-delay='0'>
                     <div class="icon-wrapper">
                        <img width="120" height="120" src="/assets/images/icon6-1.png" class="attachment-full" alt="{{site.data.keywords.keyword-year}} {{site.data.keywords.keyword-2}}"  />
                     </div>
                     <div class="icon-content">
                        <h4>
                           </p>
                           <h3>Study Engineering Abroad</h3>
                           <p>
                        </h4>
                        <p>Our Counsellors counsel the students to explore their career with close proximity to many of the renowned universities &amp; institutes around the world.</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="wpb_column vc_column_container vc_col-sm-3" data-delay="0">
            <div class="vc_column-inner">
               <div class="wpb_wrapper">
                  <div class='dt-sc-icon-box type7 aligncenter' data-delay='0'>
                     <div class="icon-wrapper">
                        <img width="120" height="120" src="/assets/images/icon3-1.png" class="attachment-full" alt="{{site.data.keywords.keyword-year}} {{site.data.keywords.keyword-2}}"/>
                     </div>
                     <div class="icon-content">
                        <h4>
                           </p>
                           <h3>Psychometric Counseling</h3>
                           <p>
                        </h4>
                        <p>Psychometric test for Branch Selection is the best way to know your right Engineering Branch. It provides you personalized preferential analysis.</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="wpb_column vc_column_container vc_col-sm-3" data-delay="0">
            <div class="vc_column-inner">
               <div class="wpb_wrapper">
                  <div class='dt-sc-icon-box type7 aligncenter' data-delay='0'>
                     <div class="icon-wrapper">
                        <img width="120" height="120" src="/assets/images/icon6-2.png" class="attachment-full" alt="{{site.data.keywords.keyword-year}} {{site.data.keywords.keyword-2}}"/>
                     </div>
                     <div class="icon-content">
                        <h4>
                           </p>
                           <h3>Face to Face Counseling</h3>
                           <p>
                        </h4>
                        <p>Students can resolve their queries, challenges, concerns, etc. from our Advisors right on spot, as nothing can replace a face to face counselling.</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="vc_row-full-width vc_clearfix"></div>
      <div data-delay="0" data-vc-full-width="true" data-vc-full-width-init="false" data-vc-stretch-content="true" class="vc_row wpb_row vc_row-fluid">
         <div class="wpb_column vc_column_container vc_col-sm-3" data-delay="0">
            <div class="vc_column-inner">
               <div class="wpb_wrapper">
                  <div class='dt-sc-icon-box type7 aligncenter' data-delay='0'>
                     <div class="icon-wrapper">
                        <img width="120" height="120" src="/assets/images/icon2-1.png" class="attachment-full" alt="{{site.data.keywords.keyword-year}} {{site.data.keywords.keyword-2}}"  />
                     </div>
                     <div class="icon-content">
                        <h4>
                           </p>
                           <h3>College Selection</h3>
                           <p>
                        </h4>
                        <p>6300+ Engineering Colleges in India offer different Engineering specializations. At LeoPride, we facilitate you in selecting the appropriate college for you.</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="wpb_column vc_column_container vc_col-sm-3" data-delay="0">
            <div class="vc_column-inner">
               <div class="wpb_wrapper">
                  <div class='dt-sc-icon-box type7 aligncenter' data-delay='0'>
                     <div class="icon-wrapper">
                        <img width="120" height="120" src="/assets/images/icon4-1.png" class="attachment-full" alt="{{site.data.keywords.keyword-year}} {{site.data.keywords.keyword-2}}" />
                     </div>
                     <div class="icon-content">
                        <h4>
                           </p>
                           <h3>News You Can Use!</h3>
                           <p>
                        </h4>
                        <p>We keep you updated about notification releases, counselling dates, etc through periodic SMS / Email alerts on a day to day basis. It&#8217;s News you Can Use!</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="wpb_column vc_column_container vc_col-sm-3" data-delay="0">
            <div class="vc_column-inner">
               <div class="wpb_wrapper">
                  <div class='dt-sc-icon-box type7 aligncenter' data-delay='0'>
                     <div class="icon-wrapper">
                        <img width="120" height="120" src="/assets/images/icon7-1.png" class="attachment-full" alt="{{site.data.keywords.keyword-year}} {{site.data.keywords.keyword-2}}"/>
                     </div>
                     <div class="icon-content">
                        <h4>
                           </p>
                           <h3>Career Exploration</h3>
                           <p>
                        </h4>
                        <p>Our Counsellor guide the students in exploring the new career opportunities in various emerging fields like data science, robotics, nanotechnology and so on..</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="wpb_column vc_column_container vc_col-sm-3" data-delay="0">
            <div class="vc_column-inner">
               <div class="wpb_wrapper">
                  <div class='dt-sc-icon-box type7 aligncenter' data-delay='0'>
                     <div class="icon-wrapper">
                        <img width="120" height="120" src="/assets/images/icon8-1.png" class="attachment-full" alt="{{site.data.keywords.keyword-year}} {{site.data.keywords.keyword-2}}"/>
                     </div>
                     <div class="icon-content">
                        <h4>
                           </p>
                           <h3>Seminars/Workshops</h3>
                           <p>
                        </h4>
                        <p>Students who are interested in the same career field are given guidance collectively, they can ask their queries &amp; that can help the whole group.</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="vc_row-full-width vc_clearfix"></div>
      

      {% include workflow.html %}


      <div class="vc_row-full-width vc_clearfix"></div>

{% include pricing-table-engg.html %}

   </div>
</section>

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
    var options = {    "key": "{{site.rzp-key}}",
                        "amount": "1998000", 
                        "currency": "INR",    
                        "name": "LeoPrideCareerSolutions",    
                        "description": "Engineering Guide (Premium Package)",    
                        "image": "{{site.url}}/assets/images/leopride-100x75.png",    
                        "handler": function (response){        
                           alert(response.razorpay_payment_id);   
                        },     
                        "notes": {        
                           "address": "Engineering Guide"    
                        },    
                        "theme": {        
                           "color": "#270a68"    
                           }
                        };
   var rzp1 = new Razorpay(options);
   document.getElementById('rzp-button1').onclick = function(e){    
                                                      rzp1.open();    
                                                      e.preventDefault();
                                                   }
</script>
