---
layout: default
title: NEET Guide
permalink: /neet-guide/
published: true
---

<section id="primary" class="pb-3 mb-md-5 content-full-width">
    <div id="post-19781" class="post-19781 page type-page status-publish hentry"> 
        {% include neet-guide.html %}
        {% include paving-way.html %}
        {% include pricing-table-neet.html %}
    <div class="vc_row-full-width vc_clearfix"></div>  
    </div>
</section>


<!-- <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
    var options = {    "key": "{{site.rzp-neet-key}}",
                        "amount": "3998000", 
                        "currency": "INR",    
                        "name": "LeoPrideCareerSolutions",
                        "description": "NEET UG Guide (Premium Package)",    
                        "image": "{{site.url}}/assets/images/leopride-100x75.png",    
                        "handler": function (response){        
                           alert(response.razorpay_payment_id);   
                        },     
                        "notes": {        
                           "address": "NEET UG Guide"    
                        },    
                        "theme": {        
                           "color": "#270a68"    
                           }
                        };
   var rzp2 = new Razorpay(options);
   document.getElementById('rzp-button2').onclick = function(e){    
                                                      rzp2.open();    
                                                      e.preventDefault();
                                                   }
</script>

<script>
    var options = {    "key": "{{site.rzp-neet-key}}",
                        "amount": "4998000", 
                        "currency": "INR",    
                        "name": "LeoPrideCareerSolutions",    
                        "description": "NEET PG Guide (Platinum Package)",    
                        "image": "{{site.url}}/assets/images/leopride-100x75.png",    
                        "handler": function (response){        
                           alert(response.razorpay_payment_id);   
                        },     
                        "notes": {        
                           "address": "NEET PG Guide"    
                        },    
                        "theme": {        
                           "color": "#270a68"    
                           }
                        };
   var rzp3 = new Razorpay(options);
   document.getElementById('rzp-button3').onclick = function(e){    
                                                      rzp3.open();    
                                                      e.preventDefault();
                                                   }
</script> -->