<div class="full-w mt-5">
  <div class="bg-yellow">
    <div class="container p-5">
      <h2 class="attention">Attention!</h2>
      <h3 class="attention-sub">For School / Colleges / Coaching Institutes</h3>

      <ul class="list-style-none">
        <li class="d-flex place-items-center mb-3">
          <span class="right-tick-blue-bg flex-shrink-0 mr-4"></span>
          <span>
            As an educationist, you gave your best classes/coaching to the
            students and fruitfully completed their first step towards a good
            college.
          </span>
        </li>
        <li class="d-flex place-items-center">
          <span class="right-tick-blue-bg flex-shrink-0 mr-4"></span>
          <span>
            Now, it's out turn to handhold your students towards their dream
            career with smart couselling process. We empower them with all the
            information they need and work with them at every step of the
            counselling process, till they reach their goal of getting admission
            into a good medical college.
          </span>
        </li>
      </ul>
    </div>
    <div class="equation bg-blue">
      <div class="container py-3">
        <div class="grid-columns-5 text-white">
          <div class="col-span-1 text-center">
            <h2 class="text-white mb-0">Academic Excellence</h2>
            <p class="text-white">
              <strong>(School / Colleges / Coaching Institutes)</strong>
            </p>
          </div>
          <div><h2 class="text-white text-center">+</h2></div>
          <div class="col-span-1 text-center">
            <h2 class="text-white mb-0">Smart Counselling</h2>
            <p class="text-white"><strong>(NEET ADVISOR PVT. LTD.)</strong></p>
          </div>
          <div><h2 class="text-white text-center">=</h2></div>
          <div class="col-span-1 text-center">
            <h2 class="text-white mb-0">Guaranteed Success</h2>
            <p class="text-white"><strong>(A Good College)</strong></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .bg-yellow {
    background-color: #fbba18;
  }
  .bg-blue {
    background-color: #201169;
    border-bottom: 5px solid #8a77eb;
  }
  .text-white {
    color: white !important;
  }
  .full-w {
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
  }
  .attention {
    font-size: 5em !important;
    color: #201169 !important;
    margin-bottom: 0 !important;
  }
  .attention-sub {
    font-size: 2em !important;
  }
  .right-tick-blue-bg {
    display: block;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 5px;
    background-image: url("/assets/images/right-tick-30.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
    background-color: #201169;
  }
  .flex-shrink-0 {
    flex-shrink: 0;
  }
  .place-items-center {
    place-items: center;
  }
  .grid-columns-5 {
    display: grid;
    place-items: center;
    grid-template-columns: 10fr 1fr 10fr 1fr 10fr;
  }

  @media screen and (max-width: 600px) {
    .attention {
      font-size: 2.5em !important;
    }
    .attention-sub {
      font-size: 1em !important;
    }
    .right-tick-blue-bg {
      display: none;
    }
    .grid-columns-5 {
      display: block;
    }
    .equation h2 {
      font-size: 1.2em !important;
    }
    .equation strong {
      font-size: 0.9em;
    }
  }
</style>
