<div class="attention-container full-w mt-5">
  <div class="bg-yellow">
    <div class="container p-5">
      <h2 class="attention">Attention!</h2>
      <h3 class="attention-sub">For School / Colleges / Coaching Institutes</h3>

      <ul class="list-style-none">
        <li class="d-flex place-items-center mb-3">
          <span class="right-tick-blue-bg flex-shrink-0 mr-4"></span>
          <span>
            As an educationist, you gave your best classes/coaching to the
            students and fruitfully completed their first step towards a good
            college.
          </span>
        </li>
        <li class="d-flex place-items-center">
          <span class="right-tick-blue-bg flex-shrink-0 mr-4"></span>
          <span>
            Now, it's out turn to handhold your students towards their dream
            career with smart couselling process. We empower them with all the
            information they need and work with them at every step of the
            counselling process, till they reach their goal of getting admission
            into a good medical college.
          </span>
        </li>
      </ul>
    </div>
    <div class="equation bg-blue">
      <div class="container py-3">
        <div class="grid-columns-5 text-white">
          <div class="col-span-1 text-center">
            <h2 class="text-white mb-0">Academic Excellence</h2>
            <p class="text-white">
              <strong>(School / Colleges / Coaching Institutes)</strong>
            </p>
          </div>
          <div><h2 class="text-white text-center">+</h2></div>
          <div class="col-span-1 text-center">
            <h2 class="text-white mb-0">Smart Counselling</h2>
            <p class="text-white"><strong>(NEET ADVISOR PVT. LTD.)</strong></p>
          </div>
          <div><h2 class="text-white text-center">=</h2></div>
          <div class="col-span-1 text-center">
            <h2 class="text-white mb-0">Guaranteed Success</h2>
            <p class="text-white"><strong>(A Good College)</strong></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>








<!-- Onload popup -->
<div id="myModal" class="modal fade onload_modal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <!-- <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div> -->
      <div class="modal-header" style="padding:15px 20px; background: #034a6a;">
          <h5 style="color:#fff; margin: 0;"><span class="fa fa-phone" style="margin-right: 5px;"></span> Request Callback</h5><button type="button" data-dismiss="modal" style="position: absolute; right: 20px; top: 0px; background: no-repeat; border: 0px; font-size: 35px; margin: 0px; padding: 0px; color: #fff;">&times;</button>
      </div>
      <div class="modal-body" style="padding:20px 30px;">
      <form method="post" action="https://form.digitalsochmedia.com/thanku.php">
        <div class="form-group" style="margin-bottom: 0px;">
            <input type="text" name="name"  class="form-control" placeholder="Enter Your Name" style="margin-bottom: 15px;"/>
            <input type="text" class="form-control" name="mobile" pattern="[0-9]{10,10}" autocomplete="off"  maxlength="10" id="extra7" onKeyPress="return isNumber(event)" placeholder="Enter Mobile Number" aria-describedby="basic-addon1" style="border: 2px solid #4ab242; margin-bottom: 15px;">
            <input type="text" class="form-control" name="msg" placeholder="Enter Your Message"  style="margin-bottom: 15px;">
        </div>
        <input type="hidden" name="clientMailID"  value="">
        <input name="website" type="hidden" value="" />            
        <input name="loginID" type="hidden" value="" />
        
          <button type="submit" class="btn btn-block" style="background: #034a6a; color:#fff; border: 0px;"><span class="fa fa-paper-plane"></span> Submit</button>
      </form>
    </div>
      <div class="modal-footer text-center">
          <p style="text-align: center !important; margin-right: auto; margin-left: auto;">Our team will contact you soon.</p>          
        </div>
    </div>

  </div>
</div>


<script type="text/javascript">
    $(document).ready(function(){       
   $('#myModal').modal('show');
    }); 
</script>
