<div class="contact-popup">
  <div class="Click-here">Click Here</div>
  <div class="custom-model-main">
    <div class="custom-model-inner">
      <div class="close-btn">×</div>
      <div class="custom-model-wrap p-4">
        <div class="pop-up-content-wrap">
          <h4 class="text-center m-0 p-0">
            Request Callback
          </h4>
          <hr />
          <div class="contact-form-in-popup">
            <form
              action="https://form.digitalsochmedia.com/thanku.php"
              class="kwes-form"
              novalidate="novalidate"
              id="kwes-form"
              method="POST"
            >
              <div class="form-group" style="margin-bottom: 0px;">
                  <input type="text" name="name"  class="form-control" placeholder="Enter Your Name" style="margin-bottom: 15px;"/>
                  <input type="text" class="form-control" name="mobile" pattern="[0-9]{10,10}" autocomplete="off"  maxlength="10" id="extra7" onKeyPress="return isNumber(event)" placeholder="Enter Mobile Number" aria-describedby="basic-addon1" style="border: 2px solid #4ab242; margin-bottom: 15px;">
                  <input type="text" class="form-control" name="msg" placeholder="Enter Your Message"  style="margin-bottom: 15px;">
              </div>
              <input type="hidden" name="clientMailID" value="info@neetadvisor.com">
              <input name="website" type="hidden" value="neetadvisor.com/thanku.html" />            
              <input name="loginID" type="hidden" value="574" />
              
                <button type="submit" class="btn btn-block" style="background: #034a6a; color:#fff; border: 0px;"><span class="fa fa-paper-plane"></span> Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="bg-overlay"></div>
  </div>
</div>
