<div data-delay="0" data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid dt-sc-skin-highlight dt-sc-curvy-top dt-sc-animated-interaction showsections">
   <div class="py-md-5 wpb_column vc_column_container vc_col-sm-12 vc_hidden-md vc_hidden-sm vc_hidden-xs" data-delay="0">
      <div class="vc_column-inner">
         <div class="wpb_wrapper">
            <div id="1574661121884-992fd229-4e6f" class="dt-sc-empty-space"></div>
            <div class="vc_row wpb_row vc_inner vc_row-fluid">
               <div class="wpb_column vc_column_container vc_col-sm-2 vc_col-lg-3">
                  <div class="vc_column-inner">
                     <div class="wpb_wrapper"></div>
                  </div>
               </div>
               <div class="wpb_column vc_column_container vc_col-sm-8 vc_col-lg-6">
                  <div class="vc_column-inner">
                     <div class="wpb_wrapper">
                        <div class='pb-md-4 dt-sc-title with-right-border-decor  without-bottom-space aligncenter' data-delay='0'>
                           <h2>Our Achievements</h2>
                           <p></p>
                        </div>
                        <div id="1574661122477-7f42df02-e261" class="dt-sc-empty-space"></div>
                        <div class="wpb_text_column wpb_content_element">
                           <div class="wpb_wrapper">
                              <div class="row d-flex justify-content-center">
                                 <div class="column">
                                    <img style="width: 32px; height: 32px;" src="/assets/images/star-black-fivepointed-shape-1.png" alt="NEET 2021 and egineering counselling advisor achievements star" title="leopride neet and egineering counselling advisor achievements star"/>
                                 </div>
                                 <div class="column">
                                    <img style="width: 32px; height: 32px;" src="/assets/images/star-black-fivepointed-shape-1.png" alt="NEET 2021 and egineering counselling advisor achievements star" title="leopride neet and egineering counselling advisor achievements star"/>
                                 </div>
                                 <div class="column">
                                    <img style="width: 32px; height: 32px;" src="/assets/images/star-black-fivepointed-shape-1.png" alt="NEET 2021 and egineering counselling advisor achievements star" title="leopride neet and egineering counselling advisor achievements star"/>
                                 </div>
                                 <div class="column">
                                    <img style="width: 32px; height: 32px;" src="/assets/images/star-black-fivepointed-shape-1.png" alt="NEET 2021 and egineering counselling advisor achievements star" title="leopride neet and egineering counselling advisor achievements star"/>
                                 </div>
                                 <div class="column">
                                    <img style="width: 32px; height: 32px;" src="/assets/images/star-black-fivepointed-shape-1.png" alt="NEET 2021 and egineering counselling advisor achievements star" title="leopride neet and egineering counselling advisor achievements star"/>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div id="1574661122700-def93315-b1d4" class="dt-sc-empty-space"></div>
                        <h4 class="aligncenter class5" data-delay='0'>One of the Highest Rated Counselling Service</h4>
                        <div id="1574661122934-7e8e289a-e255" class="dt-sc-empty-space"></div>
                        <div class='dt-sc-title with-right-border-decor  without-main-title aligncenter class3' data-delay='0'>
                           <p>Over the 14+ Glorious Year of Excellence , our passion to guide students has led us across the length and breadth of the country.</p>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="wpb_column vc_column_container vc_col-sm-2 vc_col-lg-3">
                  <div class="vc_column-inner">
                     <div class="wpb_wrapper"></div>
                  </div>
               </div>
            </div>
            <div id="1574661123277-bdc46b83-1b2e" class="dt-sc-empty-space"></div>
         </div>
      </div>
   </div>
</div>
<div class="vc_row-full-width vc_clearfix"></div>


<div data-delay="0" class="vc_row wpb_row vc_row-fluid showsections">
   <div class="wpb_column vc_column_container vc_col-sm-12 vc_hidden-md vc_hidden-sm vc_hidden-xs" data-delay="0">
      <div class="vc_column-inner">
         <div class="wpb_wrapper">
            <div class="vc_row wpb_row vc_inner vc_row-fluid dt-sc-column-overflow-top">
               <div class="wpb_column vc_column_container vc_col-sm-3">
                  <div class="vc_column-inner">
                     <div class="wpb_wrapper">
                        <div class='dt-sc-counter type1   aligncenter custom-style' data-delay='0'>
                           <div class='dt-sc-couter-icon-holder'>
                              <div class='icon-wrapper'>
                                 <span>
                                    <img width="100" height="100" alt="NEET 2021 engineering students" src="/assets/images/icons8-ios-100.png" class="attachment-full" />
                                 </span>
                              </div>
                              <div class='dt-sc-counter-number' data-value='50000' data-append='+'>50000</div>
                           </div>
                           <h4>Students Impacted</h4>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="wpb_column vc_column_container vc_col-sm-3">
                  <div class="vc_column-inner">
                     <div class="wpb_wrapper">
                        <div class='dt-sc-counter type1   aligncenter custom-style' data-delay='0'>
                           <div class='dt-sc-couter-icon-holder'>
                              <div class='icon-wrapper'>
                                 <span>
                                    <img width="52" height="52" alt="NEET 2021 engineering counselling" src="/assets/images/icons8-comments-52.png" class="attachment-full" />
                                 </span>
                              </div>
                              <div class='dt-sc-counter-number' data-value='10000' data-append='+'>10000</div>
                           </div>
                           <h4>Counselling one to one</h4>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="wpb_column vc_column_container vc_col-sm-3">
                  <div class="vc_column-inner">
                     <div class="wpb_wrapper">
                        <div class='dt-sc-counter type1   aligncenter custom-style' data-delay='0'>
                           <div class='dt-sc-couter-icon-holder'>
                              <div class='icon-wrapper'>
                                 <span>
                                    <img width="100" height="100" alt="NEET 2021 engineering success stories" src="/assets/images/icons8-ios-100-1.png" class="attachment-full" />
                                 </span>
                              </div>
                              <div class='dt-sc-counter-number' data-value='4000' data-append='+'>4000</div>
                           </div>
                           <h4>Successful Clients</h4>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="wpb_column vc_column_container vc_col-sm-3">
                  <div class="vc_column-inner">
                     <div class="wpb_wrapper">
                        <div class='dt-sc-counter type1   aligncenter custom-style' data-delay='0'>
                           <div class='dt-sc-couter-icon-holder'>
                              <div class='icon-wrapper'>
                                 <span>
                                    <img width="100" height="100" alt="NEET 2021 engineering seminars" src="/assets/images/icons8-training-100.png" class="attachment-full"  />
                                 </span>
                              </div>
                              <div class='dt-sc-counter-number' data-value='500' data-append='+'>500</div>
                           </div>
                           <h4>Seminars</h4>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<div data-delay="0" class="vc_row wpb_row vc_row-fluid">
