
<div data-delay="0" data-vc-full-width="true" data-vc-full-width-init="false" class="goals py-3 py-md-5 vc_row wpb_row vc_row-fluid dt-sc-skin-highlight dt-sc-curvy-top showsections">
   <div class="wpb_column vc_column_container vc_col-sm-12 vc_hidden-md vc_hidden-sm vc_hidden-xs" data-delay="0">
      <div class="vc_column-inner">
         <div class="wpb_wrapper">
            <div id="1570618621544-ef65c9b7-524b" class="dt-sc-empty-space"></div>
            <div class='pb-md-5 dt-sc-title with-right-border-decor  aligncenter' data-delay='0'>
               <h2>We Reach Our Goals</h2>
               <p></p>
            </div>
         </div>
      </div>
   </div>
   <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-6 vc_hidden-md vc_hidden-sm vc_hidden-xs" data-delay="0">
      <div class="vc_column-inner vc_custom_1582701221621">
         <div class="wpb_wrapper">
            <div class="vc_row wpb_row vc_inner vc_row-fluid vc_custom_1571916435514">
               <div class="wpb_column vc_column_container vc_col-sm-1">
                  <div class="vc_column-inner">
                     <div class="wpb_wrapper"></div>
                  </div>
               </div>
               <div class="quotes wpb_column vc_column_container vc_col-sm-1">
                  <div class="vc_column-inner">
                     <div class="wpb_wrapper">
                        <div id="1571829203851-5f6accbe-3d82" class="dt-sc-empty-space"></div>
                        <div class="wpb_text_column wpb_content_element  dt-sc-awards-heading">
                           <div class="wpb_wrapper">
                              <p>Top College Students are from here.
                                 <br /> Students we Counselled excelled the best in Counselling
                              </p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="wpb_column vc_column_container vc_col-sm-1">
                  <div class="vc_column-inner">
                     <div class="wpb_wrapper"></div>
                  </div>
               </div>
            </div>
            <div id="1571809498698-8c263360-9370" class="dt-sc-empty-space"></div>
            <h4 class="aligncenter class2" data-delay='0'>We Have the Best Counsellors</h4>
            <div class='dt-sc-title with-right-border-decor without-main-title' data-delay='0'>
               <p class="text-justify m-0">Our passion to guide students has led us across the length and breadth of the country. Over the 14+ years of expertise, we have given excellent results through our smart &amp; innovative Counselling services. We have guided Lakhs of students pan India to make informed career choices.</p>
            </div>
            <div id="1545312408049-4e9f9b2e-d775" class="dt-sc-empty-space"></div>
         </div>
      </div>
   </div>
   <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-6 vc_hidden-md vc_hidden-sm vc_hidden-xs" data-delay="0">
      <div class="vc_column-inner vc_custom_1582701231908">
         <div class="wpb_wrapper">

            <div class="r students p-0 p-md-5">
               <div class="c-6 p-2 bg-white student text-center">
                  <img src="/assets/images/ameya.jpg" class="attachment-full" alt="leopride neet egineering counselling student ameya" />
                  <h5 class="m-0 p-0"><a href="#" target="_self" title="Nathan Drake">Ameya Suryavanshi</a></h5>
                  <p class="p-0 m-0"><small>Studying MBBS in Manipal</small></p>
               </div>
               <div class="c-6 p-2 mt-4 mt-md-0 bg-white student text-center">
                  <img src="/assets/images/shashwath.jpg" class="attachment-full" alt="leopride neet egineering counselling student shashwath" />
                  <h5 class="m-0 p-0"><a href="#" target="_self" title="Nathan Drake">Shashwat Saraswati</a></h5>
                  <p class="p-0 m-0"><small>Studying MBBS in AFMC, Pune</small></p>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<div class="vc_row-full-width vc_clearfix"></div>



