<div data-delay="0" id="neet" data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid vc_row-o-equal-height vc_row-o-content-middle vc_row-flex">

                <!-- NEET guide desktop -->
                   <div class="wpb_column vc_column_container vc_col-sm-12 " data-delay="0">
                      <div class="vc_column-inner">
                         <div class="wpb_wrapper">
                            <div class='pb-3 pb-md-5 dt-sc-title with-right-border-decor  without-bottom-space aligncenter' data-delay='0'>
                               <h1>NEET Guide</h1>
                               <p></p>
                            </div>
                         </div>
                      </div>
                   </div><body id="home-version-1" class="home-color-two" data-style="default">

                   <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-5 " data-delay="0">
                      <div class="vc_column-inner vc_custom_1574659096508">
                         <div class="wpb_wrapper">
                            <div class="wpb_text_column wpb_content_element">
                               <div class="wpb_wrapper">
                                  <h2 class="neet-guide-headings"><span style="color: #f4ba19;">     NEET</span> <span style="color: #201169;">Advisor</span></h2>
                               </div>
                            </div>
                            <div class="vc_empty_space" style="height: 20px"><span class="vc_empty_space_inner"></span></div>
                            <div class="wpb_text_column wpb_content_element  vc_custom_1571813426185">
                               <div class="wpb_wrapper">
                                  <div class="home-neet-05">
                                     <p><img alt="leopride neet counselling advisor" width="207" height="279" src="/assets/images/neet-advisor-man-223x300.png" class="wp-image-19900 alignright"/>
                                  </p>
                                  </div>
                                  <div></div>
                                  <div></div>
                                  <p align="justify">NEET Guide has been exclusively designed for students aspiring to get in to medicine. We are here to answer all your queries regarding medical seats across India and the world too.</p>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                   <div class="wpb_column vc_column_container vc_col-sm-1 vc_hidden-md vc_hidden-sm vc_hidden-xs" data-delay="0">
                      <div class="vc_column-inner">
                         <div class="wpb_wrapper"></div>
                      </div>
                   </div>
                   <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-6" data-delay="0">
                      <div class="vc_column-inner">
                         <div class="wpb_wrapper">
                            <div class="vc_row wpb_row vc_inner vc_row-fluid dt-sc-circular-icon-set">
                               <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-2 vc_col-md-3">
                                  <div class="vc_column-inner">
                                     <div class="wpb_wrapper"></div>
                                  </div>
                               </div>
                               <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-10 vc_col-md-9">
                                  <div class="vc_column-inner">
                                     <div class="wpb_wrapper">
                                        <div class='dt-sc-icon-box type5 custom-style-2' data-delay='0'>
                                           <div class="icon-wrapper">
                                              <img width="512" height="512" alt="leopride neet egineering counselling advisor team" src="/assets/images/team.png" class="attachment-full" />
                                           </div>
                                           <div class="icon-content">
                                              <p style="font-size: 15px;"><b>15,00,000+</b></p>
                                              <p style="font-size: 15px; margin-top: -15px;"><b>NEET UG Aspirants!</b></p>
                                           </div>
                                        </div>
                                        <div class='dt-sc-icon-box type5 custom-style-2' data-delay='0'>
                                           <div class="icon-wrapper">
                                              <img width="512" height="512" src="/wp-content/uploads/2020/01/hat.png" class="attachment-full" alt="leopride neet PG counselling aspirants" />
                                           </div>
                                           <div class="icon-content">
                                              <p style="font-size: 15px;"><b>1,40,000+</b></p>
                                              <p style="font-size: 15px; margin-top: -15px;"><b>NEET PG Aspirants !</b></p>
                                           </div>
                                        </div>
                                        <div class='dt-sc-icon-box type5 custom-style-2' data-delay='0'>
                                           <div class="icon-wrapper">
                                              <img width="512" height="512" alt="leopride neet MBBS counselling" src="/assets/images/hospital.png" class="attachment-full" />
                                           </div>
                                           <div class="icon-content">
                                              <p style="font-size: 15px;"><b>75,000+</b></p>
                                              <p style="font-size: 15px; margin-top: -15px;"><b>MBBS Seats!</b></p>
                                           </div>
                                        </div>
                                        <div class='dt-sc-icon-box type5 custom-style-2' data-delay='0'>
                                           <div class="icon-wrapper">
                                              <img width="512" height="512" src="/wp-content/uploads/2020/01/medication.png" class="attachment-full" alt="leopride neet MD counselling" />
                                           </div>
                                           <div class="icon-content">
                                              <p style="font-size: 15px;"><b>19,900+</b></p>
                                              <p style="font-size: 15px; margin-top: -15px;"><b>MD Seats !</b></p>
                                           </div>
                                        </div>
                                        <div class='dt-sc-icon-box type5 custom-style-2 last' data-delay='0'>
                                           <div class="icon-wrapper">
                                              <img width="512" height="512" src="/wp-content/uploads/2020/01/patient.png" class="attachment-full" alt="leopride neet MS counselling" />
                                           </div>
                                           <div class="icon-content">
                                              <p style="font-size: 15px;"><b>10,800+</b></p>
                                              <p style="font-size: 15px; margin-top: -15px;"><b>MS Seats !</b></p>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                            <div id="1570083633594-3dcf6a5f-a3c6" class="dt-sc-empty-space vc_hidden-md vc_hidden-sm vc_hidden-xs"></div>
                         </div>
                      </div>
                   </div>
                   <div class="wpb_column vc_column_container vc_col-sm-12 " data-delay="0">
                      <div class="vc_column-inner vc_custom_1574659148453">
                         <div class="wpb_wrapper">
                            <div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
                            <blockquote class='type2  aligncenter' data-delay='0'><q>Preparing for NEET is tough,
                               but the competition
                               for seats is even tougher!!</q>
                            </blockquote>
                            <div id="1570083633782-963bf0c0-4b27" class="dt-sc-empty-space vc_hidden-md vc_hidden-sm vc_hidden-xs"></div>
                         </div>
                      </div>
                   </div>

                    <div class="vc_row-full-width vc_clearfix"></div>

                    <!-- NEET guide phone -->
                     <!-- <div class="wpb_column vc_column_container vc_col-sm-12 vc_hidden-lg" data-delay="0">
                      <div class="vc_column-inner">
                         <div class="wpb_wrapper">
                            <div id="1574659060846-a75d47c4-ff04" class="dt-sc-empty-space"></div>
                            <div class='py-3 py-md-0 dt-sc-title with-right-border-decor  without-bottom-space aligncenter' data-delay='0'>
                               <h3>Neet Advisor</h3>
                               <p></p>
                            </div>
                         </div>
                      </div>
                   </div> -->
                    <!-- <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-5 vc_hidden-lg" data-delay="0">
                    <div class="vc_column-inner">
                     <div class="wpb_wrapper">
                        <div class="wpb_text_column wpb_content_element vc_hidden-sm vc_hidden-xs">
                           <div class="wpb_wrapper">
                              <h2 class="neetsguide" style="text-align: center;"><span style="color: #f4ba19;">     NEET</span> <span style="color: #201169;">Advisor</span></h2>
                           </div>
                        </div>
                        <div class="vc_empty_space" style="height: 20px"><span class="vc_empty_space_inner"></span></div>
                        <div class="wpb_text_column wpb_content_element  vc_custom_1584032837881">
                           <div class="wpb_wrapper">
                              <div class="home-neet-05">
                                 <p><img alt="" width="207" height="279" src="/assets/images/neet-advisor-man-223x300.png" class="wp-image-19900 aligncenter" />
                                 </p>
                              </div>
                              <p class="class1" align="justify">NEET Guide has been exclusively designed  for students aspiring to get in to medicine. We are here to answer all your queries regarding medical seats across India and the world too.</p>
                           </div>
                        </div>
                     </div>
                    </div>
                    </div> -->
                    <!-- <div class="wpb_column vc_column_container vc_col-sm-1" data-delay="0">
                    <div class="vc_column-inner">
                     <div class="wpb_wrapper"></div>
                    </div>
                    </div> -->
                    <!-- <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-6 vc_hidden-lg" data-delay="0">
                    <div class="vc_column-inner">
                     <div class="wpb_wrapper">
                        <div class="vc_row wpb_row vc_inner vc_row-fluid dt-sc-circular-icon-set">
                           <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-2 vc_col-md-3">
                              <div class="vc_column-inner">
                                 <div class="wpb_wrapper"></div>
                              </div>
                           </div>
                           <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-10 vc_col-md-9">
                              <div class="vc_column-inner">
                                 <div class="wpb_wrapper">
                                    <div class='dt-sc-icon-box type5 custom-style-2' data-delay='0'>
                                      
                                       <div class="icon-content">
                                          <p style="font-size: 15px;"><b>15,00,000+</b></p>
                                          <p style="font-size: 15px; margin-top: -15px;"><b>NEET UG Aspirants!</b></p>
                                       </div>
                                    </div>
                                    <div class='dt-sc-icon-box type5 custom-style-2' data-delay='0'>
                                       <div class="icon-content">
                                          <p style="font-size: 15px;"><b>1,40,000+</b></p>
                                          <p style="font-size: 15px; margin-top: -15px;"><b>NEET PG Aspirants!</b></p>
                                       </div>
                                    </div>
                                    <div class='dt-sc-icon-box type5 custom-style-2' data-delay='0'>
                                       <div class="icon-content">
                                          <p style="font-size: 15px;"><b>75,000+</b></p>
                                          <p style="font-size: 15px; margin-top: -15px;"><b>MBBS Seats!</b></p>
                                       </div>
                                    </div>
                                    <div class='dt-sc-icon-box type5 custom-style-2' data-delay='0'>
                                       <div class="icon-content">
                                          <p style="font-size: 15px;"><b>19,900+</b></p>
                                          <p style="font-size: 15px; margin-top: -15px;"><b>MD Seats!</b></p>
                                       </div>
                                    </div>
                                    <div class='dt-sc-icon-box type5 custom-style-2 last' data-delay='0'>
                                       <div class="icon-content">
                                          <p style="font-size: 15px;"><b>10,800+</b></p>
                                          <p style="font-size: 15px; margin-top: -15px;"><b>MS Seats !</b></p>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="vc_empty_space" style="height: 50px"><span class="vc_empty_space_inner"></span></div>
                     </div>
                    </div>
                    </div> -->
                    <!-- <div class="wpb_column vc_column_container vc_col-sm-12 vc_hidden-lg" data-delay="0">
                    <div class="vc_column-inner">
                     <div class="wpb_wrapper">
                        <blockquote class='type2  aligncenter' data-delay='0'><q>Preparing for NEET is tough,
                           but the competition
                           for seats is even tougher!!</q>
                        </blockquote>
                        <div id="1574659062861-d226a010-5918" class="dt-sc-empty-space"></div>
                     </div>
                    </div>
                    </div> -->

        </div>



    <div class="vc_row-full-width vc_clearfix"></div>

