<div class="neet-info py-3 py-md-5">
  <div class="r">
    <div class="c-4 p-4 p-md-0">
      <img
        src="/assets/images/neet-advisor-400.png"
        alt="NEET 2021 Advisor logo"
      />
    </div>
    <div class="c-8 p-4 p-md-0 d-flex align-items-center text-h">
      NEET ADVISOR is an exclusive platform founded by LeoPride Career Solutions
      where we provide innovative counselling services to students aspiring to
      get into medicine.
    </div>
  </div>
</div>

<div class="centeral py-3 py-md-5">
  <div class="rows8 table-head">
    <div class="c-5 place-items-center bg-secondary">
      <h3>Services</h3>
    </div>
    <div class="c-1 place-items-center bg-secondary">
      <h3>Mode of Delivery</h3>
    </div>
    <div class="c-1 place-items-center bg-secondary">
      <h3>
        Basic <br />
        ₹7,980 /-
      </h3>
    </div>
    <div class="c-1 place-items-center bg-secondary">
      <h3>
        Premium <br />
        ₹24980 /-
      </h3>
    </div>
  </div>

  <div class="rows8">
    <div class="c-5 relative place-items-center" style="padding: 0">
      <img
        class="left-0 absolute"
        src="/assets/images/pricing-table-icons/1.png"
        alt=""
        width="100"
      />
      <div class="bg-primary p-10 left-rounded-border ml-50-pl-60">
        <div class="font-bold text-xl">Medical Mantra</div>
        <p>
          A comprehensive handbook which answer all questions on preparation,
          cut-off, fees and admission process through NEET.
        </p>
      </div>
    </div>
    <div class="c-1 place-items-center bg-accent">
      <p class="text-white">Offline</p>
    </div>
    <div class="c-1 place-items-center bg-primary-light">
      <img
        src="/assets/images/pricing-table-icons/right-tick-blue-100.png"
        alt="NEET counselling"
        width="60"
      />
    </div>
    <div class="c-1 place-items-center bg-primary">
      <img
        src="/assets/images/pricing-table-icons/right-tick-blue-100.png"
        alt="NEET counselling"
        width="60"
      />
    </div>
  </div>
</div>

<style>
  .rows8 {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 10px;
    margin-bottom: 10px;
  }
  .bg-primary {
    background-color: #fcd21c;
  }
  .bg-secondary {
    background-color: #bbadaa;
  }
  .bg-accent {
    background-color: #201169;
  }
  .bg-primary-light {
    background-color: #f2d379;
  }
  .text-white {
    color: white !important;
  }
  .place-items-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .font-bold {
    font-weight: bold;
  }
  .text-xl {
    font-size: 1.2em;
  }
  .table-head {
    overflow: hidden;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
  }
  .central {
    margin: 0 auto;
    width: 100%;
  }
  .rows8 h3 {
    margin: 0;
  }
  .p-10 {
    padding: 10px;
  }
  .left-rounded-border {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .relative {
    position: relative;
  }
  .absolute {
    position: absolute;
  }
  .ml-50-pl-60 {
    margin-left: 50px;
    padding-left: 60px;
  }
  .left-0 {
    left: 0;
  }
</style>

<div
  data-delay="0"
  data-vc-full-width="true"
  data-vc-full-width-init="true"
  data-vc-stretch-content="true"
  class="vc_row wpb_row vc_row-fluid"
  style="
    position: relative;
    left: -58.6px;
    box-sizing: border-box;
    width: 1227px;
  "
>
  <div class="r">
    <div class="c-6">
      <section class="pricing-table pricing-table-neet py-3 py-md-5">
        <div class="content">
          <div class="table-wrapper m-3 m-md-0">
            <div class="payment-info py-3 py-md-5 text-center">
              <h2 class="table-header">NEET UG Guide</h2>
              <h3>(Premium / Exclusive Package)</h3>
              <h2 class="price">39,980 INR</h2>
              <a
                title="Buy neet under graduate package"
                class="btn btn-danger px-4"
                href="https://rzp.io/l/neet-advisor-ug-guide"
                target="_blank"
                >Buy Now</a
              >
            </div>
            {% for item in site.data.pricing-table.neet-ug %}
            <div class="r table-row">
              <div class="c-2 text-center">
                <img class="image" src="{{item.image}}" alt="{{item.title}}" />
              </div>
              <div class="c-10 d-grid align-content-center">
                <h5 class="table-title">{{item.title}}</h5>
                <p class="table-description">{{item.description}}</p>
                <ul class="features">
                  {% for i in item.features %}
                  <li>{{i}}</li>
                  {% endfor %}
                </ul>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </section>
    </div>
    <div class="c-6">
      <section class="pricing-table pricing-table-neet py-3 py-md-5">
        <div class="content">
          <div class="table-wrapper m-3 m-md-0">
            <div class="payment-info py-3 py-md-5 text-center">
              <h2 class="table-header">NEET PG Guide</h2>
              <h3>(Platinum Package)</h3>
              <h2 class="price">49,980 INR</h2>
              <a
                title="Buy neet post graduate counselling package"
                class="btn btn-danger px-4"
                href="https://rzp.io/l/neet-advisor-pg-guide"
                target="_blank"
                >Buy Now</a
              >
            </div>
            {% for item in site.data.pricing-table.neet-pg %}
            <div class="r table-row">
              <div class="c-2 text-center">
                <img class="image" src="{{item.image}}" alt="{{item.title}}" />
              </div>
              <div class="c-10 d-grid align-content-center">
                <h5 class="table-title">{{item.title}}</h5>
                <p class="table-description">{{item.description}}</p>
                <ul class="features">
                  {% for i in item.features %}
                  <li>{{i}}</li>
                  {% endfor %}
                </ul>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
