<div id="sliderSimple">
<!--
  <a href="#" class="control_next"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>
  </a>
  <a href="#" class="control_prev"><i class="fa fa-long-arrow-left" aria-hidden="true"></i>
  </a>
-->
  <ul>
    <li class="single-slide" style="background-image: url(/assets/images/intro-slider/neet-homepage-pic.png); background-color: #f1b301" >
    </li>
    <li class="single-slide" style="background-image: url(/assets/images/intro-slider/neet-homepage-pic.png); background-color: #f1b301" >
    </li>
  </ul>  
</div>
