<div class="my-5">
  <div class="videos-container">
    <div class="video-info">
      <h2>See what our customers, Have to Say?</h2>
    </div>

    <div id="video-slider" class="video-slider">
      {% for item in site.data.videos %}
      <div>
        <iframe
          class="video"
          src="https://www.youtube.com/embed/{{item.id}}"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
      {% endfor %}
    </div>
    <div></div>
    <div class="slide-navs d-flex">
      <div id="prev">
        <svg
          width="30"
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M15 19l-7-7 7-7"
          />
        </svg>
      </div>
      <div id="next">
        <svg
          width="30"
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9 5l7 7-7 7"
          />
        </svg>
      </div>
    </div>
  </div>
</div>
